#contact {
	float: right;
	text-align: center;
}

.margin {
	margin-top: 100px;
	color: #40CFF1;
}

.form {
	border: 2px solid black;
	margin-left: 100px;
	margin-top: 100px;
	padding: 10px;
	width: 400px;
}

.objects {
	display: inline-block;
	border: 2px solid white;
	border-radius: 3px;
	width: 300px;
}

.centerit {
	text-align: center;
	color: white;
	height: 80px;
	width: 870px;
	background-color: #40CFF1;
	text-transform: uppercase;
	margin: auto;
}

input {
	border: 2px solid white;
	border-radius: 4px;
	height: 30px;
}

.button {
  background-image: linear-gradient(-180deg, #37AEE2 0%, #1E96C8 100%);
  border-radius: .5rem;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-size: 14px;
  justify-content: center;
  padding: 1px;
  text-decoration: none;
  width: 100%;
  border: 0;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button:hover {
  background-image: linear-gradient(-180deg, #1D95C9 0%, #17759C 100%);
}

@media (min-width: 768px) {
  .button {
    padding: 1rem 2rem;
  }
}